<?xml version="1.0" encoding="utf-8" standalone="no"?>
<rss>
	<!-- 粗细变化比例,经过测试，5到30为比较合适的值，值越大，粗细变化越小，取值范围为[5到40]-->
	<SIZE_CHANGE>7</SIZE_CHANGE>
	<!-- 由于第一笔出问题，添加第一笔粗细缩放延迟时间，60 为1秒 ,控制在30以内或者左右为佳-->
	<FIRST_DELAY>20</FIRST_DELAY>
	<!-- 毛笔字算法选择，参数：1 / 2  【1：新版，2：旧版】 -->
	<BRUSH>1</BRUSH>
	<!-- 电脑上调试用鼠标绘画，属性设置为false,表示用鼠标进行绘画 ，注意，true，false为小写-->
	<USE_TOUCH>false</USE_TOUCH>
	<SCREEN>
		<WIDTH>1280</WIDTH>
		<HEIGHT>1024</HEIGHT>
	</SCREEN>
	<!-- 摄像头显示宽高，默认为400,400 -->
	<CAMERA width='400' height='400' x = '300' y = '300' rotation='0'/>
	
	<!-- UI文件夹路径 -->
	<UI_PATH>images/ui/</UI_PATH>
	
	<!-- 背景音乐,默认无 -->
	<BG_SOUND></BG_SOUND>
	
	<!-- 背景图片,第一个是照片背景，第二个是预览界面的背景 -->
	<BACKGROUND>
		<IMG>images/bg/1.jpg</IMG>
		<IMG>images/bg/2.jpg</IMG>
	</BACKGROUND>
	
	<!-- 功能按钮,打开状态，toggle值为true,注意，true，false为小写 -->
	<FUNCTIONS>
		<PHOTO toggle='true' x='1180' y='100'/><!-- 拍照 -->
		<SIGN toggle='true'  x='1180' y='300'/><!-- 签字 -->
		<SAVE toggle='true'  x='1180' y='500'/><!-- 保存 -->
		<PREVIEW toggle='true'  x='1180' y='700'/><!-- 预览 -->
		<PRINT toggle='true'  x='1180' y='900'/><!-- 打印 -->
		<CONTOLLER x='860' y='30'/><!-- 控制条 -->
	</FUNCTIONS>
	<!-- 预览界面缩略图位置 -->
	<PREVIEW x='120' y='150'/>
</rss>
