<?xml version="1.0" encoding="utf-8" standalone="no"?>
<rss>
	<!-- 电脑上调试用鼠标绘画，属性设置为false,表示用鼠标进行绘画 ，注意，true，false为小写-->
	<USE_TOUCH>false</USE_TOUCH>
	<SCREEN>
		<WIDTH>1920</WIDTH>
		<HEIGHT>1080</HEIGHT>
	</SCREEN>>
	<!-- 摄像头显示宽高，默认为400,400 -->
	<CAMERA width='400' height='400'/>
	
	<!-- UI文件夹路径 -->
	<UI_PATH>images/ui/</UI_PATH>
	
	<!-- 背景音乐,默认无 -->
	<BG_SOUND></BG_SOUND>
	
	<!-- 背景图片 -->
	<BACKGROUND>
		<IMG>images/bg/1.jpg</IMG>
	</BACKGROUND>
	
	<!-- 功能按钮,打开状态，toggle值为true,注意，true，false为小写 -->
	<FUNCTIONS>
		<PHOTO toggle='true' x='1820' y='100'/><!-- 拍照 -->
		<SIGN toggle='true'  x='1820' y='300'/><!-- 签字 -->
		<SAVE toggle='true'  x='1820' y='500'/><!-- 保存 -->
		<PREVIEW toggle='true'  x='1820' y='700'/><!-- 预览 -->
		<PRINT toggle='true'  x='1820' y='900'/><!-- 打印 -->
		<CONTOLLER x='1500' y='30'/><!-- 控制条 -->
	</FUNCTIONS>
</rss>
