<?xml version="1.0" encoding="utf-8" standalone="no"?>
<rss>
	<SITE>http://192.168.6.201:3610/</SITE>
	<!-- isRelative：是否相对路径  -->
	<SWFS_PATH isRelative='false'>E:/ys_client/asset/asset</SWFS_PATH>
	<OUTPUT_PATH isRelative='true'>output/ys_ui.txt</OUTPUT_PATH>
	<OUTPUT_XML_PATH isRelative='true'>output/ys_ui.xml</OUTPUT_XML_PATH>
	<LANGUAGE_PATH isRelative='false'>http://192.168.6.201:3620/languageC.txt</LANGUAGE_PATH>
	<OUTSIDE_IMGS isRelative='false'>//192.168.6.201/smys/resource/img/asset1</OUTSIDE_IMGS>
	<!-- UI Bitmap元素 -->
	<UI_BITMAPS>
		<UI_BITMAP className='mhsm.ui.CellBgAsset1' describe='CellBgAsset1' />
		<UI_BITMAP className='mhsm.ui.CellBgAsset2' describe='CellBgAsset2' />
		<UI_BITMAP className='mhsm.ui.CellBgAsset3' describe='CellBgAsset3' />
		<UI_BITMAP className='mhsm.ui.CellBgAsset4' describe='CellBgAsset4' />
		<UI_BITMAP className='mhsm.ui.CellBgAsset5' describe='CellBgAsset5' />
		<UI_BITMAP className='mhsm.ui.CellBgAsset6' describe='CellBgAsset6' />
		<UI_BITMAP className='mhsm.ui.CellCloseAsset' describe='CellCloseAsset' />
	</UI_BITMAPS>
	
</rss>
